

body {background-image: url("../images/curlingbg.jpg");
}

.footer {font-size: 10px;
}

.title {background-color: #2f82c4;

}

.startClock {
	color: black;
	width: 100%;


	height: 600px;
	padding-top: 75px;
	font-size: 30px;
	margin: 0 auto;

}

.timereport {
	font-size: 26px;

}
